﻿@section scripts {
    @Scripts.Render("~/bundles/modifyArtikel")
}

<div class="page-header">
    <h1>Artikel Overzicht</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Artikels</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: artikels">
                    <li>
                        <a href="#" data-bind="click: $parent.deleteArtikel">
                            <img src="~/images/delete.png" alt="Details" width="20" />
                        </a>
                        <strong><span data-bind="text: Artikel_id"></span></strong>:
                        <a href="#" data-bind="click: $parent.getArtikelDetail">
                            <span data-bind="text: Artikel1"></span>
                        </a>
                    </li>
                </ul>
                <a href="#" data-bind="click: $root.getArtikelDetailNew">
                    <img src="~/images/add.png" alt="Add book" width="40" />
                </a>
            </div>

        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>

    <!-- ko if:artikelDetail() -->
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" data-bind="text: actionDescription"></h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: saveArtikel">
                    <div data-bind="with: artikelDetail">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-3">Naam</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputName" data-bind="value:Artikel1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputOmschrijvng" class="col-sm-3">Omschrijving</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputOmschrijving" data-bind="value:Omschrijving" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPrijs" class="col-sm-3">Prijs</label>
                            <div class="col-sm-9">
                                <input type="number" step="0.01" class="form-control" id="inputPrijs" data-bind="value:Verkoopprijs" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" data-bind="text: actionDescription"></button>
                </form>
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>