﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Categorie Overzicht</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Categorieën</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: categories">
                    <li>
                        <a href="#" data-bind="click: $parent.deleteCategorie">
                            <img src="~/images/delete.png" alt="Details" width="20" />
                        </a>
                        <strong><span data-bind="text: Cat_id"></span></strong>:
                        <a href="#" data-bind="click: $parent.getCategorieDetail">
                            <span data-bind="text: Categorie1"></span>
                        </a>
                    </li>
                </ul>
                <a href="#" data-bind="click: $root.getCategorieDetailNew">
                    <img src="~/images/add.png" alt="Add book" width="40" />
                </a>
            </div>

        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>

    <!-- ko if:categorieDetail() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" data-bind="text: actionDescription"></h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: saveCategorie">
                    <div data-bind="with: categorieDetail">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Naam</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" data-bind="value: Categorie1" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" data-bind="text: actionDescription"></button>
                </form>
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>