﻿
@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Spionshop</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Categorieën</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: categories">
                    <li>
                        <strong>
                            <a href="#" data-bind="click: $parent.getArtikels">
                                <span data-bind="text: Categorie1"></span>
                            </a>
                        </strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>


    @if (Request.IsAuthenticated)
    {
        <!-- ko if:artikels().length > 0 -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Artikels</h2>
                </div>
                <div class="panel-body">
                    <table data-bind="foreach: artikels">
                        <tr>
                            <th rowspan="2"><img data-bind="attr: {src: '../Images/thumbs/' + Artikel_id() + '.gif'}" /></th>
                            <th width="200px">Naam</th>
                            <th width="125px">Verkoopprijs</th>
                            <th width="100px">Bestellen</th>
                        </tr>
                        <tr>
                            <td><a href="#" data-bind="click: $root.openModal"><span data-bind="text: Artikel1"></span></a></td>
                            <td><span data-bind="text: Verkoopprijs"></span></td>
                            <td>
                                <a data-bind="click: $parent.voegToe, attr: {id: Artikel_id}" href="#" class="btn btn-mini btn-success">
                                    <i class="icon-plus icon-white"></i> Bestel...
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <!-- /ko -->
    }
    else
    {
        <!-- ko if:artikels().length > 0 -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Artikels</h2>
                </div>
                <div class="panel-body">
                    <table data-bind="foreach: artikels">
                        <tr>
                            <th rowspan="2"><img data-bind="attr: {src: '../Images/thumbs/' + Artikel_id() + '.gif'}" /></th>
                            <th width="200px">Naam</th>
                            <th width="125px">Verkoopprijs</th>
                        </tr>
                        <tr>
                            <td><a href="#" data-bind="click: $root.openModal"><span data-bind="text: Artikel1"></span></a></td>
                            <td><span data-bind="text: Verkoopprijs"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <!-- /ko -->
    }

    <div class="modal fade" data-bind="modal: { backdrop: 'static', keyboard: false, show: modalVisible }">
        <div class="modal-dialog" data-bind="with: SelectedModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bind="click: $root.closeModal">&times;</button>
                    <span class="modal-title"><b><span data-bind="text: Artikel1"></span></b></span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table>
                            <tr>
                                <th rowspan="2"><img data-bind="attr: {src: '../Images/' + Artikel_id() + '.gif'}" /></th>
                                <th width="300px">Omschrijving</th>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <span data-bind="text: Omschrijving" style="vertical-align:top"></span><br style="line-height:30px" />
                                    <b>Verkoopprijs: </b><span data-bind="text: Verkoopprijs"></span><br style="line-height:30px" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: $root.closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ko if:artikelen().length > 0 -->
    <form class="form-horizontal" data-bind="submit: saveBestelling">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Bestelling</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:30px">aantal</th>
                                <th>Artikel</th>
                                <th>Prijs</th>
                                <th style="width:75px"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:artikelen">
                            <tr>
                                <td>
                                    <input type="text" id="inputAantal" data-bind="value: $data.Aantal" style="width:28px" />
                                </td>
                                <td>
                                    <input type="text" id="inputNaam" data-bind="value: $data.artikel().Artikel1" class="form-control-bestellingGr" readonly /> 
                                </td>
                                <td style="text-align:right">
                                    <input type="text" id="inputTotaal" data-bind="value: $data.totaal()" class="form-control-bestellingKl" readonly /> €
                                </td>
                                <td style="text-align:center">
                                    <a href="#" class="btn btn-mini btn-danger" data-bind="click:$parent.verwijder">
                                        <i class="icon-remove icon-white"></i> Verwijder
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" style="width:288px; text-align:right; float:right">
                        <tbody>
                            <tr>
                                <td style="width:188px"><strong>Totaal excl. btw</strong></td>
                                <td style="width:100px">
                                    <input type="text" id="inputSubtotaal" data-bind="value: subtotaal()" class="form-control-bestellingKl" readonly />€
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Btw</strong></td>
                                <td>
                                    <input type="text" id="inputBtw" data-bind="value: btw()" class="form-control-bestellingKl" readonly />€
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Verzending</strong></td>
                                <td>
                                    <input type="text" id="inputVerzending" data-bind="value: verzending()" class="form-control-bestellingKl" readonly />€
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Te betalen</strong></td>
                                <td>
                                    <input type="text" id="inputTotal" data-bind="value: total()" class="form-control-bestellingKl" readonly />€
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-body">
                    <button type="submit" class="btn btn-default" style="float:right">Bestellen</button>
                </div>
            </div>
        </div>
    </form>
    <!-- /ko -->

</div>